# -----------------------
# OS/system files (macOS & Windows)
# -----------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# -----------------------
# IDE/editor metadata
# -----------------------
.idea/
*.iml

# -----------------------
# Python cache & environments
# -----------------------
__pycache__/
*.py[cod]
.venv/
venv/
env/
Lib/
Scripts/
pyvenv.cfg
etc/
share/

# -----------------------
# Notebooks
# -----------------------
.ipynb_checkpoints/

# -----------------------
# Local config files
# -----------------------
.env/
local.yaml

# -----------------------
# Logs and generated data
# -----------------------
*.log
logs/
/data/logs/p5Index.faiss
/data/p5/p5IdMap.json
/data/p5/p5Embeddings.jsonl
/data/logs/conversation_history.log
/data/logs/embedding.log

